<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button color="tertiary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{list.title}}</ion-title>


  </ion-toolbar>

</ion-header>

<ion-content color="dark">

  <ion-list color="dark">
    <ion-item color="dark">
      <ion-label position="floating">Item</ion-label>
      <ion-input type="text" [(ngModel)]="itemName" (keyup.enter)="addItemTolist()"></ion-input>
    </ion-item>
  </ion-list>


  <ion-list #itemsList>

    <ion-list-header color="dark" *ngIf="list.items.length > 0">
      <ion-label>Tasks to do</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of list.items; let i = index">

      <ion-item color="dark">
        <ion-checkbox slot="start" color="tertiary" [(ngModel)]="item.finished" (ionChange)="onChangeCheckItem()">
        </ion-checkbox>
        <ion-label>{{ item.desc }}</ion-label>
      </ion-item>

      <!-- delete -->
      <ion-item-options side="end">
        <ion-item-option (click)="deleteItem( i )"  color="danger">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <!-- edit -->
      <ion-item-options side="start">
        <ion-item-option (click)="editItem( i )"  color="tertiary">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>